<h2 class="title m-5 animate__animated animate__fadeIn" *ngIf="product">
  {{ product.name }}
</h2>

<div class="ctn">
  <app-product [product]="product" *ngIf="product"></app-product>
</div>

<div *ngIf="product" class="btn-group-vertical w-100 mt-5 animate__animated animate__fadeIn">

  <button class="btn btn-primary col-4 col-md-3 mx-auto d-block" type="button"
  (click)="goToEdit( product.id )">
    Editar
  </button>

  <button class="btn btn-danger col-4 col-md-3 my-3 mx-auto d-block" type="button"
  (click)="removeProduct( product.id )">
    Eliminar
  </button>

  <button class="btn btn-success col-4 col-md-3 mx-auto d-block" type="button" (click)="goBack()">
    Volver
  </button>

</div>
