@import '../../../../../assets/scss/global-mixins';

.product {
  @include display-flex();
  width: 100%;
  margin: 0 !important;
  transition: transform .5s;
  padding: 15px;
  position: relative;
  overflow: hidden;
}

.product__figure {
  @include width-and-height( 40%, 100% );
  margin: 0;
}

.product__img-ctn {
  position: relative;
}

.product__img {
  max-width: 100%;
  object-fit: cover;
  position: relative;
}

.product__img-offer {
  position: absolute;
  bottom: 5px;
  left: 5px;
  @include width-and-height( 50px, 50px );
}

.product__content {
  width: 60%;
  padding: 10px;
}

.product__name {
  font-size: 18px;
  font-weight: bold;
  color: purple;
}

.product__description {
  font-size: 15px;
  line-height: 16px;
  padding: 0 5px;
}

.product__dues {
  h5 {
    line-height: 17px;
    color: grey;
    font-size: 16px;
  }

  h6 {
    margin-top: -5px;
    font-weight: bold;
    font-size: 19px;
  }
}

.product__tracing {
  color: grey;
  text-decoration: line-through;
}

.product__price {
  color: red;
  font-weight: bold;
}

.cart-button {
  @include width-and-height( 50px, 40px );
}

// MEDIA QUERIES.
@media( min-width: 500px ) { .product { padding: 50px; } }
@media( min-width: 550px ) { .product__img { max-width: 180px; } }

@media( min-width: 600px ) {
  .product__name { font-size: 22px; }
  .product__price-ctn { font-size: 19px; }
}

@media( min-width: 769px ) {
  .product__figure,
  .product__content {
    width: 100%;
  }
}

@media( min-width: 867px ) { .product { &::after { display: none; } } }

@media( min-width: 967px ) {
  .product { flex-direction: column; }
  .product__content { padding-top: 25px; }
  .product__img { max-width: 300px; }
}
