<!-- UPPER-SECTION -->
<div class="upper-section">
  <div class="selects-ctn w-100 text-center mb-5">

    <select class="select">
      <option selected> Filtrar </option>
      <option value="1">One</option>
      <option value="2">Two</option>
      <option value="3">Three</option>
    </select>

    <select class="select">
      <option selected>Ordenar por</option>
      <option value="1">One</option>
      <option value="2">Two</option>
      <option value="3">Three</option>
    </select>

  </div>

  <figure class="figure">
    <img src="../../assets/img/banner.png" alt="banner" class="img img-fluid">
  </figure>
</div>

<!-- GRID -->
<div class="container-fluid grid" *ngIf="products.length > 0">

  <app-product [product]="product" (click)="goToList( product.id )" *ngFor="let product of products">
  </app-product>

</div>
