<!-- SELECTS-SECTION -->
<div class="upper-section">
  <div class="selects-ctn w-100 text-center mb-5 animate__animated animate__fadeIn">

    <select class="select" (change)="filter( $event.target.value )">
      <option value="0" selected>Filtrar</option>
      <option value="1">En ofertas</option>
      <option value="2">Sin ofertas</option>
      <option value="3">Precio mayor a $1000</option>
      <option value="4">Precio menor a $1000</option>
    </select>

    <select class="select" (change)="order( $event.target.value )">
      <option value="0" selected>Ordenar por</option>
      <option value="1">Ofertas primero</option>
      <option value="2">Sin ofertas primero</option>
      <option value="3">Más baratos primero</option>
      <option value="4">Más caros primero</option>
    </select>

  </div>

  <figure class="figure animate__animated animate__fadeIn">
    <img src="../../assets/img/banner.png" alt="banner" class="img img-fluid">
  </figure>
</div>

<!-- GRID -->
<div class="container-fluid grid" *ngIf="products.length > 0">

  <div
    class="product-ctn animate__animated animate__fadeIn"
    *ngFor="let product of products | paginate: { itemsPerPage: 6, currentPage: page }"
  >
    <app-product [product]="product" (click)="goToList( product.id )"></app-product>
  </div>

</div>

<!-- MESSAGE -->
<div
  class="alert alert-success m-4 text-center animate__animated animate__fadeIn"
  role="alert"
  *ngIf="showMessage"
>
  No hay productos para mostrar!
</div>

<!-- PAGINATION -->
<div class="pagination-ctn" *ngIf="!showMessage">
  <pagination-controls (pageChange)="page = $event" previousLabel="" nextLabel="">
  </pagination-controls>
</div>
