<div class="div container-fluid mt-4 animate__animated animate__fadeIn">

  <input
    #searchInput
    class="form-control mb-5 animate__animated animate__fadeIn" type="text"
    placeholder="Buscar un producto..." aria-label="default input example"
    (input)="search( searchInput.value )"
    *ngIf="products.length > 0"
  >

  <div class="text-center" *ngIf="products.length === 0 && !showMessage">
    CARGANDO...
  </div>

  <div class="card animate__animated animate__fadeIn" *ngIf="products.length > 0">
    <div class="card-body">
      <table class="table table-hover">
        <thead>
          <tr>
            <th>Nombre</th>
            <th>Precio final</th>
            <th>En oferta</th>
            <th>Código</th>
            <th class="text-center">Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let product of products">

            <td>
              <a class="text-color-primary" role="button" (click)="goToDetails( product.id )">
                {{ product.name }}
              </a>
            </td>

            <td>$ {{ product.finalPrice | number:'1.2-2' }}</td>

            <td>{{ product.inOffer | offer }}</td>

            <td>{{ product.id }}</td>

            <td class="text-center">
              <a class="btn" (click)="goToDetails( product.id )"><i class="fa fa-eye"></i></a>
              <a class="btn" (click)="goToForm( product.id )" ><i class="fa fa-pencil"></i></a>
              <a class="btn" (click)="removeProduct( product.id )"><i class="fa fa-trash"></i></a>
            </td>

          </tr>

        </tbody>
      </table>
    </div>
  </div>

  <div
    class="d-grid gap-2 d-sm-flex justify-content-sm-end mt-4 animate__animated animate__fadeIn" *ngIf="showButton"
  >
    <button class="btn btn-warning" type="button" (click)="showAllProducts()">Mostar todos</button>
  </div>

  <div
    class="alert alert-success text-center m-4 animate__animated animate__fadeIn" role="alert" *ngIf="showMessage"
  >
    No hay productos disponibles.
  </div>

  <button
    type="button"
    class="btn btn-success col-3 my-5 mx-auto d-block animate__animated animate__fadeIn"
    (click)="goToForm('nuevo')"
  >
    Añadir
  </button>
</div>
